# code from https://www.youtube.com/watch?v=-6LyG9I-FPc

# mod_rewrite starts here
RewriteEngine on

# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the rule
RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html
RewriteCond %{REQUEST_FILENAME}\.html -f

# Rewrite apperance 
RewriteRule ^(.*)$ $1.html [NC,L]


