.section-background{
	background:
		/* linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ), */
		url('../images/about-header.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
}

.about{
	background: #f3f3f3;
}
.about-detail{
	top: 70%;
	transform: translateY(70%);
	font-size: 16px;
	text-align: center;
	/*position: absolute;*/
	/*padding-left: 40px;*/
    /*line-height: 22px;*/
}
.section-item-title, .section-item-detail{
	text-align: center;
}
.about .row:nth-child(4){
	margin-top: 90px;
}
.team{
	background: #ededed;
}

.formatting {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}

.team-item{
	/*flex: 1 0 30%;*/
	flex-wrap: wrap;
	background: #f3f3f3;
	/*margin-bottom: 50px;*/
	margin: 5px;
	/*height: 200px;*/
	text-align: center;
}
.team-img{
	width: 90%;
	/*min-width: 20%*/
}
.wrap {
	position: relative;
}
.blah {
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(30, 30, 30, 0.72);
	color: #fff;


	visibility: hidden;
	opacity: 0;
}
.wrap:hover .blah {
	visibility: visible;
	opacity: 1;
}
.team-item-name{
	font-size: 18px;
	margin-bottom: 0px;
	padding-top: 22px;
}
.team-item-id{
	color: #a3a2a2;
	font-size: 11px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
