.section-background{
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ),
		url('../images/gigs-header2.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}