.header{
	background: url('../images/dtsICCAwinreaction.png');
	/*-moz-box-shadow: inset 0 0 20em #000;
	-webkit-box-shadow: inset 0 0 20em #000;
	box-shadow: inset 0 0 20em #000;*/
	background-repeat: no-repeat;
	background-position: left -50px;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: #fff;
	text-transform: uppercase;
}
