.section-background{
	background: 
		/* linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ), */
		url('../images/repertoire-header-sp20promo.png');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 50vh;
}